body {
  font-family: Verdana, sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  color: #222;
  line-height: 1.6;
}

.hero {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.hero-text {
  text-align: justify;
  font-size: 17px;
  line-height: 1.6;
  max-width: 700px;
}

.links {
  text-align: center;
  margin-top: 30px;
}

.links a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  background-color: #f2f4f7;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.links a:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.links a img {
  width: 20px;
  height: 20px;
}

.profile-pic {
  width: 260px;
  border-radius: 12px;
  flex-shrink: 0;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.main-title h1 {
  font-size: 39px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.main-title h2 {
  font-size: 34px;
  color: #C4C4C4;
}

.profile-pic {
  width: 300px;
  border-radius: 12px;
  flex-shrink: 0;
}

.hero-text h1 {
  margin: 0 0 8px 0;
  font-size: 42px;
}

.hero-text h2 {
  margin: 0 0 20px 0;
  font-size: 36px;
  color: #555;
  font-weight: normal;
}

.hero-text h3 {
  margin: 0 0 20px 0;
  font-size: 28px;
  color: #555;
  font-weight: normal;
}

.hero-text h4 {
  margin: 0 0 20px 0;
  font-size: 22px;
  color: #555;
  font-weight: normal;
}

section {
  margin-bottom: 40px;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.skills-icons img {
  height: 90px;
  width: auto;
}

.milestones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.milestone-card {
  background-color: #F6FFE8;
  padding: 15px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.milestone-card h3 {
  margin: 0 0 6px 0;
  font-size: 30px;
  font-weight: bold;
  color: #A5D32F;
}

.milestone-card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
}

.project-block {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.project-block.reverse {
  flex-direction: row-reverse;
}

.project-block img {
  width: 310px;
  border-radius: 8px;
}

.project-text {
  flex: 1;
  text-align: justify;
}

.links-text {
  text-align: justify;
  margin-top: 30px;
}

.links-text a {
  display: inline-flex;
  align-items: justify;
  gap: 4px;
  margin: 2px;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  background-color: #f2f4f7;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.links-text a:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}
